body {
    height: 91.5vh;
    background-color: rgb(225, 236, 239);
    padding-top: 1%;
}

form {
    margin-top: 3%;
    border: 3px solid rgb(48, 22, 220);
    border-radius: 5%;
    background-color: rgb(218, 236, 244);
    box-shadow: 3px 2px 2px 1px rgb(157, 202, 220);
}

input {
    background-color: rgb(238, 242, 244);
}

input.ng-valid,
input.ng-touched {
    border: 1px solid red;
}

legend {
    margin-left: 35%;
    background-color: white;
    width: auto;
    padding: 2% 5%;
    border-radius: 5%;
}

.spinner {
    text-align: center;
}