<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onReset()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="onEdit()">
                    <div class="form-group">
                        <label for="className">Class</label>
                        <div class="input-span-margin">
                            <select class="form-select" name="className" id="className" formControlName="className">
                                <option value="Aerobics">Aerobics</option>
                                <option value="Instruments">Instruments/Weights</option>
                                <option value="Boxing">Boxing</option>
                                <option value="PersonalTrainer">Personal Trainer</option>
                                <option value="Yoga">Yoga</option>
                                <option value="Breakdance">Breakdance</option>
                                <option value="Jiu-Jitsu">Jiu-Jitsu</option>
                            </select>
                            <span *ngIf="!editForm.get('className').valid && editForm.get('className').touched"
                                class="help-block"><small>The class name is required</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="trainer">Trainer</label>
                        <div class="input-span-margin">
                            <input class="form-control" id="trainer" formControlName="trainer" name="trainer"
                                type="text">
                            <span *ngIf="!editForm.get('trainer').valid && editForm.get('trainer').touched"
                                class="help-block"><small>The trainer's name is required</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="room">Room</label>
                        <div class="input-span-margin">
                            <input class="form-control" id="room" formControlName="room" name="room" type="text">
                            <span *ngIf="!editForm.get('room').valid && editForm.get('room').touched"
                                class="help-block"><small>The room field is required</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numberOfMembers">Number of Members</label>
                        <div class="input-span-margin">
                            <input class="form-control" id="numberOfMembers" formControlName="numberOfMembers"
                                name="numberOfMembers" type="numberOfMembers">
                            <span
                                *ngIf="!editForm.get('numberOfMembers').valid && editForm.get('numberOfMembers').touched"
                                class="help-block"><small>The number of members is required and must
                                    be between 4 and 16</small></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-span-margin">
                            <div formArrayName="schedule">
                                <div class="schedule">Schedule</div>
                                <div *ngFor="let session of getSessions(); let i = index">
                                    <fieldset class="session" [formGroupName]="i">
                                        <legend>Session {{i+1}}</legend>
                                        <div class="form-group">
                                            <label for="day">Day</label>
                                            <div class="input-span-margin">
                                                <select class="form-select" name="day" id="className"
                                                    formControlName="day">
                                                    <option value="Monday">Monday</option>
                                                    <option value="Tuesday">Tuesday</option>
                                                    <option value="Wednesday">Wednesday</option>
                                                    <option value="Thursday">Thursday</option>
                                                    <option value="Friday">Friday</option>
                                                    <option value="Saturday">Saturday</option>
                                                </select>
                                                <!-- <span *ngIf="!session[j].valid && session[j].touched"
                                                class="help-block"><small>The day field is required</small></span> -->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="startingTime">Starting Time</label>
                                            <input class="form-control" id="startingTime" formControlName="startingTime"
                                                name="startingTime" type="time"><i class="fa-regular fa-clock"
                                                style="color: #0080ff;"></i>
                                            <!-- <span *ngIf="!session[j+1].valid && session[j+1].touched"
                                            class="help-block"><small>The starting hour is required</small></span> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="endingTime">Finishing Time</label>
                                            <input class="form-control" id="endingTime" formControlName="endingTime"
                                                name="endingTime" type="time">
                                            <!-- <span *ngIf="!session[j+2].valid && session[j+2].touched"
                                            class="help-block"><small>The starting hour is required</small></span> -->
                                        </div>
                                        <button class="btn btn-danger remove-session" type="button"
                                            (click)="onRemoveSession(i)">Remove
                                            Sesion</button>
                                    </fieldset>
                                </div>
                                <button class="btn btn-success" type="button" (click)="onAddSession()">Add
                                    Session</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="onReset()"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid"
                            data-bs-dismiss="modal">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>